// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.popular_posts {
	width: 400px;
}
.p_date {
	width: 510px;
}
.popular_posts, .p_date {
	display: inline-block;
}